{% extends 'porownanie_cen/base.html' %}

{% block body %}
<div class="container mt-2">
  <h3 class="text-center">WSZYSTKIE PRODUKTY</h3>
  <div class="d-block mx-auto mb-3">
    <form class="form-inline mx-auto" method="get" action="" style="max-width:300px;">
      <input class="form-control mr-1" type="text" name="q" placeholder="Kod Towaru" value="{{ request.GET.q}}" />
      <input class="btn btn-info" type="submit" value="szukaj" />
    </form>
  </div>

  <table class="table table-sm table-info">
  <thead class="bg-secondary">
    <tr class="text-center">
      <th scope="col">Kod</th>
      <th scope="col">Kontrahent</th>
      <th scope="col">Cena Katalogowa EUR</th>
      <th scope="col">Cena Koncowa EUR</th>
      <th scope="col">Z dnia</th>
    </tr>
  </thead>
  <tbody>
    {% if result is not None %}
    {% for product in result %}
    <tr class="text-center">
      <td>{{product.kodtowaru}}</td>
      <td>{{product.kontrahentkod}}</td>
      {% if product.cenakatalogowa_eur is None %}
      <td>----</td>
      {% else %}
      <td>{{product.cenakatalogowa_eur}}</td>
      {% endif %}

      <td>{{product.cenakoncowa_eur}}</td>
      <td>{{product.dataimportu}}</td>
    </tr>
      {% empty %}
      <tr class="text-center">
        <td colspan="5"class="alert alert-danger"><p class="lead text-center"> BRAK KODU: <span class="font-weight-bold">{{ query }}</span> W BAZIE</p></td>
      </tr>
      {% if not_found_tip %}
      <tr class="bg-info text-center">
        <td colspan="5">
          <h3 class="text-light text-center">Podobne kody:</h3>
        </td>
      </tr>
      {% for product in not_found_tip %}
      <tr class="text-center">
        <td>{{product.kodtowaru}}</td>
        <td>{{product.kontrahentkod}}</td>
        {% if product.cenakatalogowa_eur is None %}
        <td>----</td>
        {% else %}
        <td>{{product.cenakatalogowa_eur}}</td>
        {% endif %}
        <td>{{product.cenakoncowa_eur}}</td>
        <td>{{product.dataimportu}}</td>
      </tr>

      {% endfor %}
      {% endif %}




    {% endfor %}
    {% else %}

    {% for product in products %}
    <tr class="text-center">
      <td>{{product.kodtowaru}}</td>
      <td>{{product.kontrahentkod}}</td>
      <td>{{product.cenakatalogowa_eur}}</td>
      <td>{{product.cenakoncowa_eur}}</td>
      <td>{{product.dataimportu}}</td>
    </tr>


    {% endfor %}

  {% endif %}

  </tbody>
</table>


    <div class="pagination">
    <span class="step-links">
        {% if products.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ products.previous_page_number }}">previous</a>
        {% endif %}
        {% if products.paginator.num_pages %}
        <span class="current">
            Page {{ products.number }} of {{ products.paginator.num_pages }}.
        </span>
        {% endif %}


        {% if products.has_next %}
            <a href="?page={{ products.next_page_number }}">next</a>
            <a href="?page={{ products.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
</div>




{% endblock %}
