{% extends 'porownanie_cen/base.html' %}

{% block body %}
<div class="container mt-2">
  <div class="mb-3">
    <form class="form-inline mx-auto" method="get" action="" >
      <div class="mx-auto">
        <input class="form-control mr-1" type="text" name="q" placeholder="Kod Towaru" value="{{ request.GET.q}}" />
        <input class="btn btn-info" type="submit" value="szukaj" />
      </div>

    </form>
  </div>

  <table class="table table-sm table-primary">
  <thead class="bg-secondary">
    <tr class="text-center">
      <th scope="col">Kod</th>
      <th scope="col">Kontrahent</th>
      <th scope="col">Cena Katalogowa EUR</th>
      <th scope="col">Cena Koncowa EUR</th>
      <th scope="col">Z dnia</th>
      <th scope="col">BRAND</th>
    </tr>
  </thead>
  <tbody>
  {% if info %}
    <div class="alert alert-info">
      <p class="mb-0 text-center">Nie znaleziono kodu: <u>{{kod_query}}</u>! Wyszukano na podstawie klucza: <u>{{ query}}</u>.</p>
    </div>
    {% endif %}
    {% if result is not None %}
    {% for product in result %}

    <tr class="text-center">

      <td>{{product.kodtowaru}} </td>
      <td>{{product.kontrahentkod}}</td>
      {% if product.cenakatalogowa_eur is None %}
      <td>----</td>
      {% else %}
      <td>{{product.cenakatalogowa_eur}}</td>
      {% endif %}

      <td>{{product.cenakoncowa_eur}}</td>
      <td>{{product.dataimportu}}</td>
      <td>{{product.nazwa}}</td>

    </tr>
      {% empty %}
      <tr class="text-center">
        <td colspan="6"class="alert alert-danger"><p class="lead text-center"> BRAK KODU: <span class="font-weight-bold">{{ kod_query }}</span> W BAZIE</p></td>
      </tr>
      {% if not_found_tip %}
      <tr class="bg-info text-center">
        <td colspan="6">
          <h3 class="text-light text-center">Podobne kody:</h3>
        </td>
      </tr>
      {% for product in not_found_tip %}
      <tr class="text-center">
        <td>{{product.kodtowaru}}</td>
        <td>{{product.kontrahentkod}}</td>
        {% if product.cenakatalogowa_eur is None %}
        <td>----</td>
        {% else %}
        <td>{{product.cenakatalogowa_eur}}</td>
        {% endif %}
        <td>{{product.cenakoncowa_eur}}</td>
        <td>{{product.dataimportu}}</td>
        <td>{{product.nazwa}}</td>
      </tr>
      {% endfor %}
      {% endif %}
    {% endfor %}
    {% else %}

    {% for product in products %}
    <tr class="text-center">
      <td>{{product.kodtowaru}}</td>
      <td>{{product.kontrahentkod}}</td>
      <td>{{product.cenakatalogowa_eur}}</td>
      <td>{{product.cenakoncowa_eur}}</td>
      <td>{{product.dataimportu}}</td>
      <td>{{product.nazwa}}</td>
    </tr>
    {% endfor %}
  {% endif %}
  </tbody>
</table>
</div>


{% endblock %}
