<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>
    INT
    {% if brand %}-
    {% for item in brand %}
      {{item.nazwa}}
    {% endfor %}
    {% endif %}
    {% if in_wszystkie_produkty %}-
    WSZYSTKIE PRODUKTY
    {% endif%}

  </title>

  <!--static-->
  {% load staticfiles %}
  <link rel="stylesheet" type="text/css"  href="{% static 'porownanie_cen/style.css' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  <script src="{% static 'porownanie_cen/myJS.js' %}"></script>
  



  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
</head>
<body onload="myFunction()">
<nav class="navbar navbar-dark bg-dark navbar-expand-md mb-2">
  <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">INT TECHNICS</a>
      <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#topNavBar">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse expand-lg "id="topNavBar">
        <ul class="nav navbar-nav mr-auto">
          <li class="nav-item">
            <a class="btn text-light" href="{% url 'porownanie_cen:index' %}"> PORÓWNYWARKA</a>
          </li>
          <li class="nav-item">
            <a class="btn text-light" href="{% url 'wszystkie_ceny:produkty' %} ">CENNIKI</a>
          </li>
          <li class="nav-item m-0 ml-lg-5">
            <p class="btn text-light m-0 font-weight-bold">
              {% if in_wszystkie_produkty %}
              WSZYSTKIE PRODUKTY
              {% endif%}
              {% if brand %}
              {% for item in brand %}
                {{ item.nazwa}}
              {% endfor %}

            </p>
          </li>
          <li>
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Wprowadź kody
              </button>
              <div class="dropdown-menu dropdown-menu-center  p-0" aria-labelledby="dropdownMenuButton">
                <form class="form-inline " method="get" action="" >
                  <textarea id="txt1" class="form-control p-0" rows="15" cols="35"  type="text" name="q"  placeholder="Wyszukaj wiele" style="z-index:99">{{ request.GET.q}}</textarea>
                  <button class="btn btn-info btn-block" type="submit" value="szukaj">Szukaj</button>
                </form>
              </div>
            </div>
          </li>
          {% endif %}
        </ul>

        <ul class="navbar-nav nabar-right">
          <li class="nav-item mr-1">
            <a class="btn btn-info text-light" href="{% url 'porownanie_cen:brand-add' %}"> DODAJ BRAND</a>
          </li>
          {% if user.is_authenticated %}
           <li class="nav-item">
             <form class="form" action="{% url 'accounts:logout' %}" method="post">
               {% csrf_token %}
               <button class="btn btn-warning text-light" type="submit">Wyloguj</button>
             </form>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="btn btn-success text-light" href="{% url 'accounts:login' %}">Zaloguj</a>
          </li>
          {% endif %}
        </ul>
      </div>
  </div>
</nav>

{% block body %}
{% endblock %}
</body>
</html>
