{% extends 'porownanie_cen/base.html' %}

{% block body %}
{% load static %}

{% if user.is_authenticated %}
<div class="container-fluid p-3 mb-0 shadow shadow-lg" style="background:url({% static 'porownanie_cen/' %}img/light_blue.png); background-repeat:no-repeat; background-position: center center">
  <h1 class="font-weight-light text-center text-muted">Porównywarka Cen by INT-TECHNICS</h1>
  <p class="lead text-center text-muted">Witaj {{user}}!</p>
</div>
{% endif %}
<div class="container-fluid" style="height:100%;">
  <div class="container pt-5 w-50">
    <div class="row ">
    {% for brand in object_list %}

      <div class="col-4 text-center">
        <a class=" text-light mx-auto btn" href="{% url 'porownanie_cen:detail' brand.id %}">
          <div class="">
            <!--<i class="{{brand.icon}} text-light"></i>-->
            {% if brand.logo %}
            <img class="rounded border border-dark" src="{{ brand.logo.url}}" width="120">
            {% endif %}
          </div>
        </a>
        {% if request.user.is_superuser %}
        <div class="mt-1">

          <form  action="{% url 'porownanie_cen:brand-delete' brand.id %}" method="post">
          <div class="btn-group mb-2" role="group">
            <a  class="btn btn-secondary {% if not request.user.is_superuser %} disabled {% endif %}" href="{% url 'porownanie_cen:brand-update' brand.id%}">
              <i class="fas fa-edit text-light"></i>
            </a>
            <a  href="{% url 'porownanie_cen:detail' brand.id %}" class="btn btn-secondary text-light">+</a>

              {% csrf_token %}
              <input type="hidden" name="brand_id" value="{{brand.id}}"/>

              <button type="submit" class="btn btn-secondary" {% if not request.user.is_superuser %} disabled {% endif %} onclick="return confirm('Usunąć {{brand.nazwa}} i wszystkie pozycje cennika?')" >
                <i class="fas fa-trash-alt text-dark"></i>
              </button>

            </form>

          </div>
        </div>
      {% endif %}
      </div>
    {% endfor %} <!--# all_brands-->
    </div>
  </div>
</div>


<!--<div class="container-fluid p-0 ">-->

  <!--<div class="col-6 mx-auto" style="">-->

    <!--<ul class="list-group ml-0  pt-5">-->
    <!--{% for brand in object_list %}-->

      <!--<li class="list-group-item d-flex  align-items-center py-1 bg-secondary ">-->

        <!--<a class="text-light text-left mx-auto btn" href="{% url 'porownanie_cen:detail' brand.id %}">-->
           <!--<span class="">{{brand.nazwa}}</span>-->
        <!--</a>-->
        <!--{% if brand.logo %}-->
        <!--<img class="img-thumbnail ml-1" src="{{ brand.logo.url }}" width="50" height="50">-->
        <!--{% else %}-->
        <!--<img class="img-thumbnail ml-1" src="{% static 'porownanie_cen/' %}img/RECE.png" width="50" height="50">-->
        <!--{% endif %}-->
        <!--<a class="btn btn-light mx-2 px-3" href="{% url 'porownanie_cen:brand-update' brand.id%}">-->
          <!--<i class="fas fa-edit text-primary"></i>-->
        <!--</a>-->
        <!--<form action="{% url 'porownanie_cen:brand-delete' brand.id %}" method="post" >-->
          <!--{% csrf_token %}-->
          <!--<input type="hidden" name="brand_id" value="{{brand.id}}"/>-->
          <!--<button type="submit" class="btn btn-light px-3" onclick="return confirm('Usunąć {{brand.nazwa}} i wszystkie pozycje cennika?')" >-->
            <!--<i class="fas fa-trash-alt text-dark"></i>-->
          <!--</button>-->
        <!--</form>-->
      <!--</li>-->
    <!--{% endfor %}-->
    <!--</ul>-->
  <!--</div>-->



  </div>







{% endblock %}
