{% extends 'porownanie_cen/base.html' %}

{% block body %}
{% load static %}
<div class="mt-5">
    <div class="row mx-2">
        <div class="col-12 col-lg-3">
            {% if brand.logo %}
            <img class=" d-block mx-auto" src="{{ brand.logo.url }}" width="250">
            {% else %}
            <img class=" d-block mx-auto" src="{% static 'porownanie_cen/' %}img/RECE.png" width="250">
            {% endif %}
            <h1 class="text-center">{{ brand.nazwa}}</h1>
        </div>
        <div class="col-12 col-lg-9">
            <table class="table table-striped table-dark">
              <thead class="bg-secondary">
                <tr>
                  <th scope="col" class="text-center">KOD</th>
                  <th scope="col" class="text-center">KONTRAHENT</th>
                  <th scope="col" class="text-center">CENA KATALOGOWA EUR</th>
                  <th scope="col" class="text-center">CENA KONCOWA EUR</th>
                  <th scope="col" class="text-center">Z DNIA</th>
                </tr>
              </thead>
              <tbody>
              {% for product in brand.produkt_set.all %}
                <tr>
                  <th scope="row" class="text-center">{{product.kodtowaru }}</th>
                  <td class="text-center">{{product.kontrahentkod}}</td>
                  <td class="text-center">{{product.cenakatalogowa_eur}}</td>
                  <td class="text-center">{{product.cenakoncowa_eur}}</td>
                  <td class="text-center">{{product.dataimportu}}</td>
                </tr>
              {% endfor%}

              </tbody>
            </table>

            <!--<ul>-->

            <!--{% for product in brand.produkt_set.all %}-->

            <!--<li>-->
                <!--{{product.kodtowaru }}-->
                <!--{{product.kontrahentkod}}-->
                <!--{{product.cenakoncowa_eur}}-->
                <!--{{product.dataimportu}}-->

            <!--</li>-->
            <!--{% endfor%}-->
            <!--</ul>-->
        </div>

    </div>


</div>

{% endblock %}
