{% extends 'porownanie_cen/base.html' %}

{% block body %}
{% load static %}

  <div class="row mx-2" >
    <div class="col-12 col-lg-2">
      <form class="form mx-auto" method="get" action="" style="max-width:300px;">
        <button class="btn btn-info btn-block" type="submit" value="szukaj">Szukaj</button>
        <textarea class="form-control mr-1" rows="22" type="text" name="q"  placeholder="Wyszukaj wiele">{{ request.GET.q}}</textarea>
    </form>

    </div>
    <div class="col-12 col-lg-2 p-0">
      <table class="table table-sm table-dark" >
        <thead>
          <tr class="bg-secondary text-center border text-warning">
            <th class="border border-right-0 text-right">Razem:</th>
            <th class="border border-left-0" id="lowest_sum">0.00</th>
          </tr>
          <tr class="bg-primary text-light text-center" >
            {% if brand_id == "6" %}
            <th class="border" scope="col">KOD</th>
            {% else %}
            <th class="border" scope="col">KOD</th>
            {% endif %}

            <th class="border" scope="col">CENA</th>
          </tr>
        </thead>
        <tbody>
            {% for code in code_price %}
          <tr>
            {% if code %}
            <td class="bg-warning text-center border text-dark p-0" >{{code.0.kodtowaru}}</td>
            {% else %}
            <td class="bg-danger text-center border text-light">brak</td>
            {% endif %}
            <td class="bg-info text-center border text-light " id="lowest_{{forloop.counter}}">{{code.0.cenakoncowa_eur__min}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="col-12 col-lg-8 p-0">
      <table class="table table-sm table-dark" id="result">
        <thead>
          <tr class="text-center bg-secondary  text-warning">
            {% for kontrahent in kontrahenci %}
            <th class="border" id="cena_kontrahent_{{forloop.counter}}">
              0.00
            </th>
            {% endfor %}
          </tr>
          <tr class="bg-primary text-center border border-dark text-light ">
            {% for kontrahent in kontrahenci %}
            {% with x=kontrahenci_length %}
            {% if x > 5 %}
            <th class="border"><small>{{ kontrahent.kontrahentkod }}</small></th>
            {% else %}
            <th class="border">{{ kontrahent.kontrahentkod }}</th>
            {% endif %}
            {% endwith %}
          {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% if final_result %}
            <tr class="row_result" >
          {% endif %}
            {% for item in final_result %}
              {% if  item.0.cenakoncowa_eur %}
                <td class="text-center table-background  border border-dark text-dark" id="{{forloop.counter}}">{{ item.0.cenakoncowa_eur }}</td>
              {% else %}
                <td class="text-center table-background border border-dark text-danger" id="{{forloop.counter}}">N/A</td>
              {% endif %}
              <!-- if last column in row -->
              {% with num=kontrahenci_length %}
                {% if forloop.counter|divisibleby:num and not forloop.last %}
              </tr>
              <tr class="row_result" >
            {% endif %}
          {% endwith %}
        {% endfor %}
      </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>



{% endblock %}
