{% extends 'porownanie_cen/base.html' %}

{% block body %}
{% load static %}
<div class="mt-1">
  <div class="container">
    {% for item in brand %}
      <div class="">
        <div class="row mx-auto w-50">
          <h1 class="text-center">
            {{ item.nazwa}}
          </h1>
          {% if item.logo %}
            <img class="ml-2" src="{{ item.logo.url }}" width="50" height="50">
            {% else %}
            <img class="ml-2" src="{% static 'porownanie_cen/' %}img/RECE.png" width="50" height="50">
            {% endif %}
          {% endfor %}
        </div>

      </div>
  </div>
</div>

  <div class="row mx-2">
    <div class="col-12 col-lg-2">
      <form class="form mx-auto" method="get" action="" style="max-width:300px;">
        <input class="btn btn-info btn-block" type="submit" value="szukaj" />
        <textarea class="form-control mr-1" rows="12" type="text" name="q"  placeholder="Wyszukaj wiele">{{ request.GET.q}}</textarea>
    </form>

    </div>
    <div class="col-12 col-lg-2">
      <table class="table table-sm table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>

    </div>
    <div class="col-12 col-lg-8">
      <table class="table table-sm table-dark">
        <thead>
          <tr class="bg-secondary">
            {% for kontrahent in kontrahenci %}
            <th class="text-center">{{ kontrahent.kontrahentkod }}</th>
          {% endfor %}
          </tr>
        </thead>
        <tbody>
          <tr >
            {% for item in final_result %}
              {% if  item.0.cenakoncowa_eur %}
                <td class="text-center bg-dark border text-light">{{ item.0.cenakoncowa_eur }}</td>
              {% else %}
                <td class="text-center bg-dark border text-warning">N/A</td>
              {% endif %}
              <!-- if last column in row -->
              {% with num=kontrahenci_length %}
                {% if forloop.counter|divisibleby:num and not forloop.last %}
              </tr>
              <tr>
            {% endif %}
          {% endwith %}
        {% endfor %}
      </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
