

.table-background{
  background-color: rgb(217, 225, 242) !important;
}
.lowest-background{
  background-color: rgb(106, 136, 204) !important;
}
.codes-background{
  background-color: rgb(244, 176, 132) !important;
}

/* .dropdown-menu-center {

    -webkit-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
} */

.btn-tarnsparent{
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
}
